@using IntegratorEHZ.App_Code
<link rel="stylesheet" href="~/css/IndexHome.css" />
<div class="row">
    <div id="DevicesList" class="list-group border border-primary rounded">
        @Html.Action("DevicesList","Home")
    </div>
</div>

<script src="~/js/Devices.js" asp-append-version="true"></script>

